body{
    background-image: url(imagenes/arena2.jpg);
    background-repeat: no-repeat;
     
 margin: auto;
 background-attachment: fixed;
    
}

h1{
    text-align: center;
}


.logo{
    
    padding-left: 500px;
   
   
}

 nav{
        
        }
        ol{
  font-size: 0%;
  margin:0 auto ;
  padding-right: 10px;
 
  }

   li{
    text-align: center;
   background-color: beige;
      color: black;
      display: inline-block;
      width: 24%;
    font-size: 25px;
    text-align: center;
    border-right: 3px solid black;
}